<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bagMapper">
	<!-- 장바구니 목록 보기 -->
	
	<select id="findAllByUsername" resultType="bag">
		select username,artno,total_price totalPrice, amount, 
		option_name optionName,	option_value optionValue,option_stock optionStock,
		option_price optionPrice,bagno 
		from bag where username=#{username}
	</select>
	
	<select id = "findByArtno" resultType="bag">
		select username, artno, total_price totalPrice, amount
		,option_name optionName, option_value optionValue,option_stock optionStock,
		option_price optionPrice,bagno
		from bag where artno=#{artno} and rownum=1
	</select>
	
	<select id="findBagByUsername" resultType="bag">
		select artno, total_price totalPrice, amount
		,option_name optionName, option_value optionValue,option_stock optionStock,
		option_price optionPrice
		from bag where username=#{username} and rownum=1
	</select>
	
	<select id="findByArtnoUsername" resultType="bag">
		select username,artno, total_price totalPrice, amount
		,option_name optionName, option_value optionValue,option_stock optionStock,
		option_price optionPrice
		from bag where username=#{username} and artno=#{artno} and rownum=1
	</select>
	
	<insert id = "insertByBag">
	<selectKey keyProperty="bagno" resultType="int" order="BEFORE">
		select bag_seq.nextval from dual
	</selectKey>
		insert into bag(bagno,username,artno,total_price,amount,option_name
		,option_value,option_stock,option_price)
		values(#{bagno},#{username},#{artno},#{totalPrice},#{amount}
		,#{optionName},#{optionValue},#{optionStock},#{optionPrice})
	</insert>
	
	<update id="updateByBag">
		update bag
		<trim suffixOverrides="," prefix="set">
			<if test="totalPrice!=null">total_price=#{totalPrice},</if>
			<if test="amount!=null">amount=#{amount},</if>
			<if test="optionName!=null">option_name=#{optionName},</if>
			<if test="optionValue!=null">option_value=#{optionValue}</if>
		</trim>
		where artno=#{artno} and rownum=1
	</update>
	<update id="updateByBagUsername">
		update bag
		<trim suffixOverrides="," prefix="set">
			<if test="totalPrice!=null">total_price=#{totalPrice},</if>
			<if test="amount!=null">amount=#{amount},</if>
			<if test="optionName!=null">option_name=#{optionName},</if>
			<if test="optionValue!=null">option_value=#{optionValue}</if>
		</trim>
		where artno=#{artno} and username=#{username} and rownum=1
	</update>
	<update id="increaseByAmount">
		update bag set amount=amount+1 where artno=#{artno}
	</update>
	
	<update id="decreaseByAmount">
		update bag set amount=amount-1 where artno=#{artno}
	</update>
	
	<delete id="deleteByBag">
		delete from bag where artno=#{artno} and rownum=1
	</delete>
	
	<select id="findArtnoByBagno" resultType="int">
		select artno from bag where bagno=#{bagno}
	</select>
	
 </mapper>