<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderDetailMapper">

	<!-- 결제 하기 -->
	<insert id="Payment">
		insert into order_detail(orderno,optno, artno,artistno,art_name, option_name,
		option_value, amount,price, address, recipient,tel,email,
			request,add_point,refund_account ,is_shipping , orderstate)
			values(#{orderno},#{optno}, #{artno},#{artistno}, #{artName},#{optionName},#{optionValue},#{amount},#{price},
			#{address},#{recipient},#{tel},#{email},#{request},#{addPoint},#{refundAccount},0,#{state})
	</insert>
	<select id="findArtnoByOrderDetail" resultType="orderDetail">
	select orderno,optno, artno,artistno,art_name artName, option_name optionName,
		option_value optionValue, amount,price, address, recipient,tel,email,
			request,add_point addPoint, postalcode,refund_account refundAccount,is_shipping, orderstate state 
			from order_detail where art_name=#{artName} and rownum =1
	</select>
	
	<!--주문 상세 -->
	<select id="OrderDetail" resultType="orderDetail">
	select orderno,optno, artno,artistno,art_name artName, option_name optionName,
		option_value optionValue, amount,price, address, recipient,tel,email,
			request,add_point addPoint, postalcode,refund_account refundAccount,is_shipping, orderstate state
			from order_detail where orderno=#{orderno} and rownum =1
	</select>
	<select id="findByArtnameArtImage" resultType="string">
	select main_img mainImg from art where art_name=#{artName}
	</select>
	

</mapper>