<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">
	<select id="count" resultType="int">
		select count(*) from orders where username=#{username}
	</select>
	<select id="orderFindByUsername" resultType="int">
		select orderno from orders where username=#{username}	
	</select>
	<!-- 주문 하기 -->
	<insert id="Ordering">
		<selectKey keyProperty="orderno" resultType="int" order="BEFORE">
			select orders_seq.nextval from dual
		</selectKey>
		insert into orders(orderno, order_date,username,shipping_charge,bagno)
		values(#{orderno},sysdate,#{username},#{shippingCharge},#{bagno})
	</insert>
	<select id="BagFindUsernameArtno" resultType="bag">
		select artno from bag where username =#{username}
	</select>
	
<!-- 	주문 내역  -->
	<select id = "findAllByOrder" resultType="order">
		<![CDATA[
	select * from		
		(select rownum as rnum ,o.*from
			(select /*+ index_desc(orders pk_orders)*/orderno,order_date orderDate,username,shipping_charge shippingCharge from orders) o
			where username=#{username} and rownum <=#{endRowNum})
	where rnum>=#{startRowNum}
		]]>
	</select>
		<!-- 유저네임으로 리스트찾기 -->
<!-- 		<select id="OrderFindAll" resultType="order"> -->
<!-- 		select shipping_charge shippingCharge from orders where username=#{username} -->
<!-- 		</select> -->
	 <select id="ArtNameByUsername" resultType="Art">
	 	select art_name from art where username=#{username}
	 </select>
	 
<!-- 	 주문 상세 내역  -->
	<select id = "findByOrder" resultType="order">
		select orderno, order_date orderDate, username, shipping_charge
		shippingCharge from orders where orderno=#{orderno} and rownum=1
	</select>
	
	<select id="findOrdernoByUsername" resultType="int">
		select orderno from orders where username=#{username} and bagno=#{bagno}
	</select>
<!-- 	<update id ="updateByOrder"> -->
<!-- 		update orders -->
<!-- 		<trim suffixOverrides="," prefix="set"> -->
<!-- 			<if test="shippingCharge!=null">shipping_charge=#{shippingCharge}</if> -->
<!-- 		</trim> -->
<!-- 		where orderno=#{orderno} and rownum=1 -->
<!-- 	</update> -->
	
	<!-- 주문 취소 -->
	<delete id ="deleteByOrder">
		delete from orders where orderno=#{orderno} and rownum=1
	</delete>
	
	<select id="findBagnoByOrderno" resultType="int">
		select bagno from orders where orderno=#{orderno}
	</select>
	<select id="findUsernameByCharge" resultType="order">
		select shipping_charge shippingCharge,order_date orderDate from orders where username=#{username}
	</select>
	
	<!-- 작가 전용 --> 
	<!-- 주문번호로 구매자 아이디 찾기 -->
	<select id="findUsernameByoderno" resultType="String">
		select username from orders where orderno=#{orderno}
	</select>
	
	<!-- 주문번호로 구매일 찾기 -->
	<select id="findOrderDateByoderno" resultType="String">
		select order_date from orders where orderno=#{orderno}
	</select>
	
	<!-- 주문번호로 배송비 찾기 -->
	<select id="findShippingByoderno" resultType="int">
		select shipping_charge from orders where orderno=#{orderno}
	</select>
<!-- 	<select id="orderFindByUsername" resultType="int"> -->
<!-- 		select orderno from orders where username=#{username}	 -->
<!-- 	</select> -->

	<select id="findUsernameIsPay" resultType="boolean">
		select count(#{username}) from orders where orderno=#{orderno}
	</select>
 </mapper>