<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopMapper">
	<insert id="insert">
		<selectKey keyProperty="shopno" resultType="int" order="BEFORE">
			select shop_seq.nextval from dual
		</selectKey>
		insert into shop(shopno,shop_name,shop_intro, businessno,account,image, forwarding, back, artistno)
			values(#{shopno},#{shopName},#{shopIntro},#{businessno},#{account},#{image},#{forwarding},#{back},#{artistno})
	</insert>
	
 	<select id="readByShop" resultType="shop">
		select shopno,shop_name shopName, shop_intro shopIntro, businessno, account, image, forwarding, back,artistno
		from shop where shopno=#{shopno}
 	</select> 


	<select id="readShopByArtistno" resultType="shop"> 
 		select shopno,shop_name shopName, shop_intro shopIntro , businessno, account, image, forwarding, back, artistno
		from shop where artistno=#{artistno} 
	</select>
	
	
	<update id="updateByShop">
		update shop
		<trim suffixOverrides="," prefix="set">
			<if test="shopName!=null">shop_name=#{shopName},</if>
			<if test="shopIntro!=null">shop_intro=#{shopIntro},</if>
			<if test="image!=null">image=#{image},</if>
			<if test="businessno!=null">businessno=#{businessno},</if>
			<if test="account!=null">account=#{account},</if>
			<if test="back!=null">back=#{back},</if>
			<if test="forwarding!=null">forwarding=#{forwarding},</if>
		</trim>
		where shopno=#{shopno} and rownum=1
	</update>
	
	
	<!-- 작품 등록에 필요 -->
	<!-- 아티스트번호로 상점번호 받아오기 -->
	<select id="readShopnoByArtistno" resultType="int"> 
 		select shopno
		from shop where artistno=#{artistno} 
	</select>
	
	
	
	<delete id="delete">
		delete from shop where artistno=#{artistno}
	</delete>
	
	<select id="existsShopByUsername" resultType="int">
		select count(*) from shop where shopno=#{shopno}
	</select>
	
	<select id="shopByArtno">
		select shopno,artistno,shop_name shopName, shop_intro shopIntro, businessno, account, image, forwarding, back
		from shop where artno=#{artno}
	</select>
	
</mapper>